In [1]:
import pandas as pd 
import os

In [3]:
os.listdir("../DATA")

['NEW_CSV.csv']

In [5]:
diamonds = pd.read_csv("../DATA/NEW_CSV.csv")
diamonds

,index_id,cut,color,clarity,price,city,carat,depth,table,x,y,z
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,Premium,J,VS2,4268,Dubai,1.21,62.4,58.0,6.83,6.79,4.25
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,Very Good,H,VS2,505,Kimberly,0.32,63.0,57.0,4.35,4.38,2.75
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,Fair,G,VS1,2686,Las Vegas,0.71,65.5,55.0,5.62,5.53,3.65
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,Good,D,SI1,738,Kimberly,0.41,63.8,56.0,4.68,4.72,3.00
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,Ideal,G,SI1,4882,Dubai,1.02,60.5,59.0,6.55,6.51,3.95
...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,Ideal,G,VS1,10070,Antwerp,1.34,62.7,57.0,7.10,7.04,4.43
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,Good,F,SI2,12615,Madrid,2.02,57.1,60.0,8.31,8.25,4.73
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,Ideal,H,SI1,5457,Kimberly,1.01,62.7,56.0,6.37,6.42,4.01
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,Ideal,J,VS1,456,Kimberly,0.33,61.9,54.3,4.45,4.47,2.76
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,Ideal,I,SI1,6232,London,1.24,62.0,58.0,6.83,6.88,4.25

In [6]:
diamonds.dtypes #TYPE OF VALUES PER COLUMN

index_id     object
cut          object
color        object
clarity      object
price         int64
city         object
carat       float64
depth       float64
table       float64
x           float64
y           float64
z           float64
dtype: object

In [7]:
diamonds.shape  #ROWS X COLUMNS

(40455, 12)

In [8]:
diamonds.columns.values

array(['index_id', 'cut', 'color', 'clarity', 'price', 'city', 'carat',
       'depth', 'table', 'x', 'y', 'z'], dtype=object)

In [9]:
diamonds.describe()

,price,carat,depth,table,x,y,z
count,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000,40455.000000
mean,3928.444469,0.797706,61.752841,57.446133,5.729392,5.732819,3.537154
std,3992.416147,0.475544,1.431725,2.233535,1.124453,1.146650,0.697062
min,326.000000,0.200000,43.000000,43.000000,0.000000,0.000000,0.000000
25%,945.000000,0.400000,61.000000,56.000000,4.710000,4.720000,2.910000
50%,2397.000000,0.700000,61.800000,57.000000,5.690000,5.710000,3.520000
75%,5331.000000,1.040000,62.500000,59.000000,6.540000,6.540000,4.035000
max,18823.000000,4.500000,79.000000,95.000000,10.230000,58.900000,8.060000

In [10]:
diamonds.isnull().sum()

index_id    0
cut         0
color       0
clarity     0
price       0
city        0
carat       0
depth       0
table       0
x           0
y           0
z           0
dtype: int64

In [11]:
diamonds["city"].unique()

array(['Dubai', 'Kimberly', 'Las Vegas', 'Tel Aviv', 'Amsterdam',
       'Zurich', 'Antwerp', 'Madrid', 'Paris', 'Surat', 'Luxembourg',
       'London', 'New York City'], dtype=object)

In [12]:
diamonds["cut"].unique()

array(['Premium', 'Very Good', 'Fair', 'Good', 'Ideal'], dtype=object)

In [13]:
diamonds["color"].unique()

array(['J', 'H', 'G', 'D', 'F', 'E', 'I'], dtype=object)

In [14]:
diamonds["clarity"].unique()

array(['VS2', 'VS1', 'SI1', 'SI2', 'IF', 'VVS1', 'VVS2', 'I1'],
      dtype=object)